<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SampleProject</display-name>
  <context-param>
  <param-name>phone</param-name>
  <param-value>9563664349</param-value>
  </context-param>
  <context-param>
  <param-name>productions</param-name>
  <param-value>Anurag and aneek production house</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>org.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SourceServelet</display-name>
    <servlet-name>SourceServelet</servlet-name>
    <servlet-class>org.SourceServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SourceServelet</servlet-name>
    <url-pattern>/SourceServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServelet</display-name>
    <servlet-name>FailureServelet</servlet-name>
    <servlet-class>org.FailureServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServelet</servlet-name>
    <url-pattern>/FailureServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessSevlet</display-name>
    <servlet-name>SuccessSevlet</servlet-name>
    <servlet-class>org.SuccessSevlet</servlet-class>
    <init-param>
    <param-name>website</param-name>
    <param-value>www.globesyn.com</param-value>
    </init-param>
   <init-param>
   <param-name>address</param-name>
    <param-value>kolkata</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SuccessSevlet</servlet-name>
    <url-pattern>/SuccessSevlet</url-pattern>
  </servlet-mapping>
</web-app>